@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 1;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #272727;
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #f6f4e6;	/*全体の文字色*/
	font-family: "Montserrat", sans-serif;
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
  /* height: 100vh; */
  margin-bottom: 120px;
}

/*============  button  ============*/

.p-anima-3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: color 0.3s;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}
.p-anima-3:hover {
  color: #333;
  margin: 2rem 0; /*marigin 枠線の外　余白　rem　１文字分*/
  padding: 2px 0px; /*上下　左右*/
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.p-anima-3::before {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  transform-origin: right top;
  transform: skewX(-30deg) scaleX(0);
  transition: transform 0.4s;
}
.p-anima-3:hover::before {
  transform-origin: left top;
  transform: skewX(-30deg) scaleX(1);
}

.p-anima-3 span {
  position: relative;
  z-index: 1;
}

.c-btn {
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #333;
  border-radius: 3px;
  width: 300px;
  margin: 2rem 0; /*marigin 枠線の外　余白　rem　１文字分*/
  padding: 2px 0px; /*上下　左右*/
  text-decoration: none;
  /*  常に真ん中に置きたい時
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  */
}